@import "../node_modules/bulma/sass/utilities/initial-variables.sass";

.wrapper {
  max-width: 1680px;
  margin: 0 auto;
  padding: 40px;
}

.header {
  margin-bottom: 1.5rem;
}

.main {
  min-height: calc(100vh - 272px);
}

.title--answer-area {
  margin-top: 7px;
  margin-bottom: 30px !important;
}

.uocg-card {
  position: relative;
  box-shadow: 3px 2px 10px 3px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  border: 1px solid $grey-lighter;
  padding: 1.5rem;
  height: 22rem;
  word-break: break-word;
  overflow: hidden;

  @media (max-width: 768px) {
    height: auto;
  }

  &--in-hand {
    @media (max-width: 768px) {
      padding-bottom: 86px;
    }
  }
  &--question {
    color: $white;
    background: $cyan;
  }
  &--answer {
    cursor: pointer;

    @media (max-width: 768px) {
      padding-bottom: 86px;
    }
  }
  &--empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__footer {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    right: 1.5rem;

    &--dynamic {
      display: none;

      @media (max-width: 768px) {
        display: block;
      }
    }
  }

  &:hover {
    .uocg-card__footer--dynamic {
      display: block;
    }
  }

  @media screen and (min-width: 961px) and (max-width: 1400px) {
    font-size: 18px !important;

    .is-size-3 {
      font-size: 24px !important;
    }
  }

  @media screen and (min-width: 769px) and (max-width: 960px) {
    font-size: 16px !important;
    height: 18rem;

    .is-size-3 {
      font-size: 20px !important;
    }
  }
}

.button-section {
  margin-bottom: 1.5rem;

  &--bottom {
    margin-top: 1.5rem;
    margin-bottom: 0;
  }
}

.cards-remaining {
  margin-top: 10px;
}

.uocg-footer {
  background: none;
  font-size: 0.6rem;
  padding-top: 6rem;

  .version {
    display: flex;
    height: 100%;
    align-items: flex-end;
    font-size: 0.7rem;
  }

  .content {
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-content: flex-end;
  }
}

::-webkit-input-placeholder {
  color: $grey-light !important;
}
:-ms-input-placeholder {
  color: $grey-light !important;
}
::placeholder {
  color: $grey-light !important;
}

.connection-error {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5px;
}
