@import "../node_modules/bulma/bulma.sass";

// Responsive overrides
@media screen and (min-width: 769px) and (max-width: 1029px) {
  .column.is-one-fifth {
    width: 30%;
  }
  .column.is-four-fifths {
    width: 70%;
  }
  .column.is-5-tablet {
    width: 41.66667%;
  }

  .uocg-card--answer {
    font-size: 18px !important;

    .is-size-3 {
      font-size: 24px !important;
    }
  }
  .uocg-card--question {
    font-size: 18px !important;
  }
}

@media screen and (min-width: 1030px) and (max-width: 1400px) {
  .column.is-one-fifth {
    width: 25%;
  }
  .column.is-four-fifths {
    width: 75%;
  }
  .column.is-5-tablet {
    width: 33.333%;
  }
  .uocg-card--answer {
    font-size: 18px !important;

    .is-size-3 {
      font-size: 24px !important;
    }
  }
  .uocg-card--question {
    font-size: 18px !important;
  }
}

@media screen and (min-width: 769px) and (max-width: 1400px) {
  .player-score {
    display: none;
  }
}
